<!DOCTYPE html>
<html lang="en">
<head>
	<title>My App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">	
</head>
<body>
	<div class="container"> 
		<h2><%= title %> <small><%= new Date()%></small></h2>

</body>
</html>